/*--------------------------------------------General*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    opacity: 1;
}
.btn {
    border-radius: 23px;
}

hr:not([size]) {
    height: 6px;
}

/*--------------------------------------------Fonts*/

body {
    font-family: "Roboto", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

.navbar a {
    font-family: "Lato", sans-serif;
}

.callout a {
    font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
}

/*--------------------------------------------Colors*/

/*--- cursor selection modified from: https://css-tricks.com/overriding-the-default-text-selection-color-with-css/*/

::selection {
    background: #ea4c68;
}
::-moz-selection {
    background: #ea4c68;
}
/*--- /.cursor selection modified from: https://css-tricks.com/overriding-the-default-text-selection-color-with-css/*/

.navbar {
    background-color: #20b7be;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav {
    color: #fafafafa;
}

.btn-red {
    background-color: #ea4c68;
    border-color: #fafafa;
}

.btn {
    color: #fafafa;
}

.btn:hover {
    background-color: #fafafa;
    color: #333b50;
}

.navbar-text {
    color: #fafafa;
}

.custom-toggler,
.navbar-toggler {
    border-color: #fafafa;
}

.navbar a {
    color: #fafafa;
}

.jumbotron-header {
    color: #333b50;
}
.lead {
    color: #333b50;
}
.jumbotron {
    background-color: rgba(250, 250, 250, 0.5);
}

.block-divider-darkgrey {
    background-color: #333b50;
}

.block-divider-orange {
    background-color: #ea4c68;
}

.fa-chevron-circle-down:before {
    color: rgba(250, 250, 250, 0.5);
}

.features-container {
    background-color: #27d6b3;
}

.features-container h2,
.features-container h3,
.features-container p {
    color: #fafafa;
}

.employer-testimonial-container h2,
.quotes-container h2 {
    color: #ea4c68;
}

.charities-container,
.employer-container {
    background-color: #27d6b3;
}

.charities-container h2,
.employer-container h2 {
    color: #fafafa;
}

.container-gettheapp {
    background-color: #27d6b3;
    color: #fafafa;
}

.speech-bubble {
    background: #d0e2e6;
}
.speech-bubble:after {
    border-bottom-color: #d0e2e6;
}

.footer-text-white {
    background-color: #fafafa;
}

.copyright {
    background-color: #20b7be;
}

.copyright p,
.copyright a {
    color: #fafafa;
}

/*--------------------------------------------Navbar*/

.navbar {
    padding-left: 2%;
    padding-right: 2%;
}

.navbar-brand {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav-item {
    vertical-align: middle;
}

#nav-button {
    padding-bottom: 6px !important;
}

.custom-toggler,
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(250, 250, 250, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*--------------------------------------------Callout*/

.callout-container {
    background: url(../images/runner.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 87vh;
}

.jumbotron {
    padding: 2em 1em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

@media screen and (min-width: 960px) {
    .jumbotron {
        max-width: 60%;
        margin: 0 auto;
    }
}

/*--------------------------------------------Features*/

.container-heading {
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 0;
}

.container-heading h2 {
    margin-bottom: 1%;
}

.features-container h3 {
    line-height: 1.2;
}

.features-container {
    height: 100%;
    margin-bottom: 5%;
}

.feature {
    height: 280px;
}

@media only screen and (max-width: 768px) {
    .features-container h3,
    .features-container p {
        text-align: center !important;
    }
}

.my-steps-help-app-image {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    padding-bottom: 15%;
} 

#my-steps-help-app-image {
    margin: 0 auto;
    padding-top: 5%;
}

@media screen and (min-width: 992px) {
    .my-steps-help-app-image {
        margin-bottom: 10%;
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    .my-steps-help-app-image {
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

#app-screenshot {
    background: url(https://w7.pngwing.com/pngs/309/112/png-transparent-smartphone-app-store-screenshot-cellphone-in-restaurant-gadget-text-mobile-phone.png);
}

.left-about-heading {
    margin-bottom: 50px;
    height: 40px;
}

.right-about-heading {
    margin-bottom: 50px;
    height: 40px;
}

/*--------------------------------------------Quotes*/

.quotes-container,
.employer-testimonial-container {
    margin-bottom: 5%;
}

.quotes-container img {
    height: 30vh;
    width: 30vh;
}

/* Speech Bubble created by https://projects.verou.me/bubbly/ */

.speech-bubble {
    position: relative;
    border-radius: 0.4em;
    padding: 3vh 3vh 3vh 3vh;
}

.speech-bubble:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 0.938em solid transparent;
    border-top: 1vh;
    margin-left: -0.937em;
    margin-top: -0.937em;
}

.speech-bubble .col-1 {
    padding-top: 2vh;
}

.blockquote {
    margin-top: 7vh;
}

/*--------------------------------------------Charities*/

.charities-container,
.employer-container {
    padding-right: 0;
    padding-left: 0;
}

.charities,
.employers {
    margin-top: 5%;
    text-align: center;
}

.charity-image,
.employer-image {
    max-width: 70%;
}

.charity-logo,
.employer-logo {
    margin-bottom: 5%;
}

/*--------------------------------------------Get The App*/

.container-gettheapp {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5%;
}

@media only screen and (max-width: 768px) {
    .container-gettheapp {
        text-align: center;
    }
}

.runner-image {
    height: 40%;
    width: 40%;
    background-repeat: no-repeat;
    padding-top: 1%;
}

.runner-image img {
    height: 100%;
    width: 100%;
}

#google-play-download-image,
#app-store-download-image {
    width: 200px;
    margin: 5px;
}

/*--------------------------------------------Employers*/

.form-group {
    margin-bottom: 2vh;
}

/*--------------------------------------------Footer*/

.copyright {
    padding-top: 2%;
}

.footer-menu .row a {
    text-decoration: none;
}

.footer-menu {
    padding-top: 5%;
}